<template>
  <v-container>
    <p
      class="pl-3 headline"
      :style="{
        borderLeft: '3px solid black'
      }"
    >Passionate problem solver who leverages web technologies to provide business and technology solutions.</p>

    <p>I'm "formally" trained as a mathematician - however, I quickly fell in love with the <em>utility</em> of software engineering. Being able to turn an idea into reality is a great feeling! I now spend my professional time, and fair bit of my personal time, using a computer to create useful things!</p>

    <p>My forte is in full-stack web development, but I'm not afraid of learning new things. I focus on using JavaScript tooling to create data-driven applications.</p>

    <p class="mb-0">When I'm not on the computer, I enjoy spending time with my wonderful family, friends, and dogs, spending time outside, and exercising.</p>

  </v-container>
</template>
