<template>
  <v-container grid-list-lg style="min-height: calc(100vh - 88px)">
    <v-layout row wrap>
      <v-flex
        v-for="(link, i) in links" :key="`contactLink-${i}`"
        xs12 sm6
      >
        <v-hover>
          <v-card
            slot-scope="{ hover }"
            class="pa-3"
            :class="hover ? 'elevation-5' : ''"
            style="overflow: auto;"
            :href="link.link"
            rel="noopener"
            target="_blank"
          >
            <v-layout>
              <v-flex xs3>
                <v-icon large>{{ link.icon }}</v-icon>
              </v-flex>
              <v-flex align-self-center>{{ link.title }}</v-flex>
            </v-layout>
          </v-card>
        </v-hover>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    links: [
      {icon: "fas fa-at", link: "mailto:gksander93@gmail.com", title: "gksander93@gmail.com"},
      {icon: "fab fa-linkedin", link: "https://linkedin.com/in/gksander/", title: "LinkedIn"},
      {icon: "fab fa-github", link: "https://github.com/gksander", title: "GitHub"},
      {icon: "fab fa-twitter", link: "https://twitter.com/gksander93", title: "Twitter"},
      {icon: "fab fa-dev", link: "https://dev.to/gksander", title: "Dev.to"},
    ]

  }),
}
</script>
