<template>
  <v-container>

    <v-timeline dense>
      <!-- M.A. -->
      <v-timeline-item small>
        <v-card>
          <v-card-text>
            <div class="font-weight-bold title mb-2">M.A. Mathematics @ Arizona State University</div>
            <div>4.0 GPA. Focus on theoretical mathematics, math instruction.</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <span>Graduated 2018</span>
          </v-card-text>
        </v-card>
      </v-timeline-item>
      <!-- B.S. -->
      <v-timeline-item small>
        <v-card>
          <v-card-text>
            <div class="font-weight-bold title mb-2">B.S. Mathematics @ Arizona State University</div>
            <div>4.0 GPA. Focus on theoretical and computational mathematics.</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <span>Graduated 2014</span>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>
