<template>
  <v-container grid-list-md>
    <v-timeline dense>
      <!-- Henri -->
      <v-timeline-item small>
        <v-card>
          <v-card-text>
            <div class="title font-weight-bold mb-2">Senior Software Engineer @ Henri</div>
            <div>Full-stack web and mobile development using React Native, Vue.JS, and Ruby on Rails.</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <span>Sept. 2019 - Current</span>
          </v-card-text>
        </v-card>
      </v-timeline-item>

      <!-- Artisan -->
      <v-timeline-item small>
        <v-card>
          <v-card-text>
            <div class="title font-weight-bold mb-2">Software Engineer @ Artisan Colour, INC</div>
            <div>Full-stack web development using Vue.js, NodeJS, MongoDB, and Nginx. Development and deployment of custom eCommerce sites. Building custom tools to streamline internal functions.</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <span>Aug. 2018 - Sept. 2019</span>
          </v-card-text>
        </v-card>
      </v-timeline-item>

      <!-- COSma -->
      <v-timeline-item small>
        <v-card>
          <v-card-text>
            <div class="title font-weight-bold mb-2">Lead Software Engineer @ COSma Learning, LLC</div>
            <div>Site development and deployment of cosmalearning.com. Development, coding, and maintenance of online math curriculum. Used PHP, MySQL, and JavaScript to build custom online courseware.</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <span>Jan. 2016 - Aug. 2018</span>
          </v-card-text>
        </v-card>
      </v-timeline-item>

      <!-- ASU -->
      <v-timeline-item small>
        <v-card>
          <v-card-text>
            <div class="title font-weight-bold mb-2">Research Associate, Instructor @ Arizona State University</div>
            <div>Taught precalculus and courses for future math teachers, lead many professional development workshops for university instructors. Research and development of math curriculum.</div>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>
            <span>May 2014 - Jan. 2016</span>
          </v-card-text>
        </v-card>
      </v-timeline-item>


    </v-timeline>
  </v-container>
</template>
