<template>
  <v-container style="min-height: calc(100vh - 88px)" grid-list-lg>
    <v-layout row wrap>
      <v-flex
        v-for="(project, i) in projects" :key="`project-${i}`"
        xs12 sm6
      >
        <v-card>
          <v-card-text>
            <div class="font-weight-bold">{{ project.title }}</div>
            <div>{{ project.shortDescription }}</div>
          </v-card-text>
          <v-carousel
            class="elevation-0"
            :cycle="false"
            hide-delimiters
            height="400"
            max="400"
          >
            <v-carousel-item
              v-for="(img, j) in project.imgs" :key="`img-${i}-${j}`"
              :src="img"
              contain
              class="carousel-item"
            ></v-carousel-item>
          </v-carousel>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn
              flat
              :href="project.site"
              rel="noopener"
              target="_blank"
            >Site</v-btn>
            <v-spacer></v-spacer>
            <v-btn
              flat
              @click="project.detailsShown = !project.detailsShown"
            >
              Details
              <v-icon right>fas {{ project.detailsShown ? 'fa-chevron-up' : 'fa-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>
          <v-slide-y-transition>
            <v-card-text
              v-if="project.detailsShown"
              v-html="project.description || '...'"
            ></v-card-text>
          </v-slide-y-transition>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      projects: [
        // ArtisanHD
        {
          title: "ArtisanHD",
          shortDescription: `eCommerce site for custom prints.`,
          description: `Custom eCommerce site built on Vue, Nuxt, Vuetify, Node, and MongoDB. Features live preview and 3D rendering of custom products.`,
          site: `https://secure.artisanhd.com`,
          imgs: [
            `/img/projects/artisanhd-1.jpg`,
            `/img/projects/artisanhd-2.jpg`,
            `/img/projects/artisanhd-3.jpg`,
            `/img/projects/artisanhd-4.jpg`
          ],
          detailsShown: false
        },
        // Eulogybooks
        {
          title: "Eulogybooks",
          shortDescription: `eCommerce site for "Eulogy Books".`,
          description: `Collaborative site where users upload photos to a shared "book" that is programmatically generated. Built on Vue, Nuxt, Vuetify, Node, and MongoDB.`,
          site: `https://make.eulogybooks.com`,
          imgs: [
            `/img/projects/eulogybooks-1.jpg`,
            `/img/projects/eulogybooks-2.jpg`,
            `/img/projects/eulogybooks-3.jpg`,
          ],
          detailsShown: false
        },
        // COSma
        {
          title: "COSma Learning",
          shortDescription: `Online math courseware`,
          description: `Custom online math courseware. Built on top of IMathAS, using Vue, PHP, and MySQL. Features interactive lessons, homework, and assessments.`,
          site: `https://cosmalearning.com`,
          imgs: [
            `/img/projects/cosma-1.jpg`,
            `/img/projects/cosma-2.jpg`,
            `/img/projects/cosma-3.jpg`,
          ],
          detailsShown: false
        },
        // Mathcode
        {
          title: "MathCode",
          shortDescription: `Online math/JavaScript Tutorials`,
          description: `Interactive tutorials for math and JavaScript. Built with Vue, Nuxt, and Bulma. Features live coding samples.`,
          site: `https://mathcode.cosmalearning.com`,
          imgs: [
            `/img/projects/mathcode-1.jpg`,
            `/img/projects/mathcode-2.jpg`,
          ],
          detailsShown: false
        },
      ]
    })
  }
</script>

<style lang="stylus">
  .v-carousel__next, .v-carousel__prev {
    .v-icon {
      color: #395f30 !important;
      font-size: 2.5em !important;
    }
  }
</style>
