<template>
  <div class="primary white--text">
    <v-container>
      <div class="display-1">{{ title }}</div>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    }
  }
}
</script>
