<template>
  <v-card class="elevation-3 mb-4">
    <v-card-text>
      <div class="font-weight-bold title mb-4">{{ title }}</div>
      <v-container class="pa-0" grid-list-lg>
        <v-layout row wrap>
          <v-flex
            v-for="(tool, i) in tools" :key="`tool-${i}`"
            class="text-xs-center"
            :style="{
              maxWidth: (100/tools.length) + '%',
              flexBasis: (100/tools.length) + '%'
            }"
          >
            <div class="mb-2">
              <v-img
                :src="(tool && tool.src) || '/img/html.png'"
                :aspect-ratio="1"
                contain
                max-width="75"
                class="mx-auto"
              ></v-img>
            </div>
            <div
              :style="{
                overflow: 'hidden',
                textOverflow: 'ellipsis',
                whiteSpace: 'no-wrap'
              }"
            >{{ (tool && tool.title) || "..." }}</div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    tools: {
      type: Array,
      default: []
    }
  }
}
</script>
