<template>
  <v-container>
    <!-- Markup and styling -->
    <app-skills-card
      title="Markup and Styling"
      :tools="[
        { title: 'HTML', src: '/img/html.png' },
        { title: 'JSX', src: '/img/jsx.png' },
        { title: 'CSS', src: '/img/css.png' },
        { title: 'SASS', src: '/img/sass.png'},
        { title: 'Tailwind', src: '/img/tailwind.png' }
      ]"
    ></app-skills-card>

    <!-- Javascript -->
    <app-skills-card
      title="JavaScript (Client side)"
      :tools="[
        { title: 'ES6+', src: '/img/esnext.png' },
        { title: 'TypeScript', src: '/img/ts.png' },
        { title: 'Vue', src: '/img/vue.png' },
        // { title: 'Nuxt', src: '/img/nuxt.png' },
        { title: 'React', src: '/img/react.png' },
        { title: 'Redux', src: '/img/redux.png' },
      ]"
    ></app-skills-card>

    <!-- Backend -->
    <app-skills-card
      title="Backend"
      :tools="[
        { title: 'Node.js', src: '/img/node.png' },
        { title: 'MongoDB', src: '/img/mongodb.png' },
        { title: 'Nginx', src: '/img/nginx.png' },
        { title: 'PHP', src: '/img/php.png' },
        { title: 'MySQL', src: '/img/mysql.png' }
      ]"
    ></app-skills-card>


  </v-container>
</template>

<script>
import appSkillsCard from '~/components/appSkillsCard'

export default {
  components: {
    appSkillsCard
  }
}
</script>
