// Override Vuetify variables here
$body-font-family = 'Lato', sans-serif;

// Import Vuetify styles.
@require '~vuetify/src/stylus/app';

i.v-icon {
  // font-size: 16px;
  font-size: 1.2em;
  min-width: 18px;
}

body {
  font-size: 16px;
}