<template>
  <v-app>
    <!-- Navigation drawer -->
    <v-navigation-drawer
      app
      v-model="sidenav"
      :mobile-break-point="$vuetify.breakpoint.thresholds.sm"
      clipped
      :width="250"
      floating class='elevation-3'
    >
      <!-- Title -->
      <div class="pa-3 text-xs-center">
        <div class="headline">Grant Sander</div>
        <div>Software Engineer</div>
      </div>
      <v-divider></v-divider>
      <!-- Nav links -->
      <v-list class="py-0">
        <v-list-tile
          v-for="link in navLinks" :key="`link-${link.title}`"
          @click="goToSection(link.to)"
          :class="link.to==activeSection ? ['grey', 'lighten-2'] : []"
        >
          <v-list-tile-action>
            <v-icon>{{ link.icon || 'alarm' }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ link.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <!-- Body -->
    <nuxt />


    <!-- FAB for small screens -->
    <v-btn
      v-if="mounted && $vuetify.breakpoint.smAndDown"
      fab fixed bottom right
      color="primary"
      @click="sidenav = !sidenav"
      aria-label="Menu button"
      title="Menu button"
    >
      <v-icon>fas fa-bars</v-icon>
    </v-btn>

  </v-app>
</template>

<script>
export default {
  // Component data
  data: () => ({
    sidenav: null,
    mounted: false,

    navLinks: [
      {title: "About", icon: "fas fa-user", to: "#about"},
      {title: "Experience", icon: "fas fa-briefcase", to: "#experience"},
      {title: "Tools", icon: "fas fa-tools", to: "#tools"},
      {title: "Projects", icon: "fas fa-tasks", to: "#projects"},
      {title: "Education", icon: "fas fa-school", to: "#education"},
      {title: "Contact", icon: "fas fa-id-card", to: "#contact"},
    ],

    activeSection: "#about",
    sections: []
  }),

  // Methods
  methods: {
    // goto section
    goToSection(id) {
      this.$vuetify.goTo(id);
      if (this.$vuetify.breakpoint.smAndDown) {
        this.sidenav = false;
      }
    },


    // Scroll event listener
    onScroll($evt) {
      let pageScroll = window.scrollY;

      for (let section of this.sections) {
        let elOffset = section.offsetTop;
        if (pageScroll >= elOffset) {
          this.activeSection = `#${section.id}`;
          break;
        }
      }
    }


  },

  // On mount, swap flag
  mounted() {
    this.mounted = true;

    // Collect the section elements we need for scroll-sniffing
    let sectionIds = ["about", "experience", "tools", "projects", "education", "contact"].reverse();
    for (let id of sectionIds) {
      let section = document.getElementById(id);
      if (section) this.sections.push(section);
    }

    // Add an event
    window.addEventListener('scroll', this.onScroll);
    this.onScroll();
  },

  // Before destroy, remove scroll listener
  beforeDestroy() {
    window.removeEventListener('scroll', this.onScroll);
  }
}
</script>
