<template>
  <v-content fill-height>
    <!-- Landing image -->
    <v-img
      height="100vh"
      :src="require('~/assets/img/mountain-1.jpg')"
      gradient="to bottom right, rgba(0,0,0,.7), rgba(255,255,255,.33)"
    >
      <v-container class="white--text fill-height">
        <v-layout column justify-center>
          <div class="display-3">Grant Sander</div>
          <div class="headline">I use computers to solve problems.</div>
        </v-layout>
      </v-container>
    </v-img>

    <!-- About me -->
    <app-page-banner title="About Me" id="about"></app-page-banner>
    <app-about></app-about>

    <!-- Experience -->
    <app-page-banner title="Experience" id="experience"></app-page-banner>
    <app-experience></app-experience>


    <!-- Tools -->
    <app-page-banner title="Tools" id="tools"></app-page-banner>
    <app-skills></app-skills>


    <!-- Projects -->
    <app-page-banner title="Projects" id="projects"></app-page-banner>
    <app-projects></app-projects>

    <!-- Education -->
    <app-page-banner title="Education" id="education"></app-page-banner>
    <app-education></app-education>

    <!-- Contact -->
    <app-page-banner title="Contact" id="contact"></app-page-banner>
    <app-contact></app-contact>
  </v-content>
</template>

<script>
import appPageBanner from '~/components/appPageBanner'
import appAbout from '~/components/appAbout'
import appExperience from '~/components/appExperience'
import appSkills from '~/components/appSkills'
import appProjects from '~/components/appProjects'
import appEducation from '~/components/appEducation'
import appContact from '~/components/appContact'

export default {
  components: {
    appPageBanner,
    appAbout,
    appExperience,
    appSkills,
    appProjects,
    appEducation,
    appContact
  }
}
</script>
